*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}
h3 {
  margin-top: 30px;
  margin-bottom: 42px;
  display: flex;
  column-gap: 36px;
}
h5{
  margin-top: 20px;
}
.app_prd{
  margin-top: 30px;
  margin-bottom: 10px;
}
